/* Regola generale  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common utilities per verificare i container */
.bordo {
    border: 2px solid black;
}

/* Regola al body  */
body {
    /* Overflow */
    overflow-x: hidden;
    overflow-y: scroll;
    /* Width & Heigth */
    width: 100vw;
}

/* Header del sito  */
#site_header {
    height: 100px;
    background-color: crimson;
    width: 100%;
}

/* Corpo del sito */
#site_main {
    width: 100%;
    background-color: chartreuse;
    height: calc(100% - 100px);
}

/* Altezza della row */
.h_80 {
    height: 80%;
}


