/* Regola generale  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common utilities per verificare i container */
.bordo {
    border: 2px solid black;
}

/* Regola al body  */
body {
    overflow-x: hidden;
    overflow-y: scroll;
    /* Width & Heigth */
    width: 100vw;
    max-height: 100vh;
}

/* Header del sito  */
#site_header {
    height: 120px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid gray;
}





/* Corpo del sito */
#site_main {
    width: 100%;
    height: max-content;
}
#site_main  h3 {
    font-weight: bold;
}
#site_main p {
    font-weight: 500;
    line-height: 1.3rem;
    text-align: justify;
}

.main_class {
    display: flex;
    justify-content: center;
    align-items: center;
    /* d-flex justify-content-center align-items-center */
}

